sqlalchemy
psycopg2-binary
fastapi
uvicorn
langchain==0.1.20
langchain-community==0.0.34
langchain-core==0.1.52
pydantic
tenacity
pandas
numpy
statsmodels
python-dotenv
google-generativeai
langchain-google-genai==0.1.4
litellm
supabase
langchain-openai
psycopg
sqlglot
