sqlalchemy==2.0.44
psycopg2-binary==2.9.11
fastapi==0.109.2
uvicorn==0.27.1
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
pydantic==1.10.13
tenacity==8.2.3
pandas==2.1.4
numpy==1.26.4
statsmodels==0.14.1
python-dotenv==1.0.1
google-generativeai==0.4.1
langchain-google-genai==0.0.11
litellm==1.44.10
supabase==2.4.3
langchain-openai==0.1.8
psycopg==3.2.1
sqlglot==25.25.0
